.lg-social-media-cont{
	.lg-social-media{
		padding: 0;
	    margin: gutter() 0;
	    list-style: none;
	    display: flex;

	    li{
	    	margin-right: 15px;
	    	&:last-child{
	    		margin-right: 0;
	    	}
	    	a{
			    display: flex;
			    text-align: center;
			    justify-content: center;
			    align-items: center;
			    font-size: 18px;

	    		i{
					color:#fff;
	    		}
	    	}
	    }
	}
}

.top-feature-image{
	.slick-slide{
		position:relative;
	}
	.overlay{
	    width: 100%;
	    max-width: 600px;
	    position: absolute;
		bottom: 13%;
    	left: 50%;
    	transform: translate(-50%, 0);
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    color: #fff;
	    font-size: 1.5rem;
	    flex-direction: column;
		.h2{
			font-size: 2.3rem;
		}
	}
	img{
		width: 100%;
	}
}

@include media-breakpoint-down(sm){ 
	.top-feature-image{
		.overlay{
			padding: 0 50px;
			text-align: center;
		}
	}
}

.btn-white{
	color: $gray-800;
	padding: .8rem 1rem;
	border: 2px solid $gray-800;
	background-color: rgba(255,255,255,0.8);
	&:hover{
		background-color: $secondary;
	}
}