.gform_wrapper{

}

.contact{
	.gform_wrapper{
		margin: 0;

		label{
			display: none !important;
		}

		.gfield_description{
			padding-top: 5px !important;
		}

		input[type=text]{
			height: 30px;
			width: 250px !important;	
		}

		.gform_footer{
			margin: 0 !important;
			padding: 0 !important;
			display: none;
		}
	}
}

@include media-breakpoint-down(sm){ 
	.contact{
		display: none;
	}
}

.contactus-form{
	.gform_footer{
		text-align: center;
		input[type=submit]{
			background-color: $primary;
			padding: 10px 15px;
			color: #fff;
		}
	}
}