//More javascript in ready.js

.mega-menu-wrap{
	background: #fff !important;
	.mega-menu-toggle{
		display:none !important;
	}

	.mega-toggle-on > a{
		background: theme-color('primary') !important;
		color: #fff !important;
	}

	ul{
		&:not(.mega-sub-menu){
			>li:not(.mega-toggle-on){
				>a{
					&:focus{
						background: theme-color('primary') !important;
						color: #fff !important;
					}
				}
			}	
		}
	}

	@media only screen and (min-width: $screen-sm-min + 1){
		.mega-sub-menu{
				width: 100% !important;
			}
		ul.mega-sub-menu{
			padding: 15px 0 !important;
			width: auto !important;
			background: #fff !important;
			border: 1px solid rgba(0, 0, 0, 0.15) !important;
    		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
			>li{
				h4{
					padding: 0 10px 15px 10px !important;
				}
				a{
					padding: 5px 10px;
					display:inline-block;
				}
			}
		}

		.mega-menu-link{
			background: #fff !important;
			color: theme-color('primary') !important;
			padding: 1px 15px !important;
		}

		.mega-menu-item-389, .mega-menu-item-396, .mega-menu-item-404, .mega-menu-item-405{
			>.mega-sub-menu{
				width: 300px !important;
			}
		}
		.mega-menu-item-404, .mega-menu-item-405{
			>.mega-sub-menu{
				right:0 !important;
			}
		}
	}

	@media only screen and (max-width: $screen-sm-min){
		.mega-sub-menu{
			width: 100% !important;
			padding:15px 0 !important;
			background:#fff !important;
			float:none !important;
		}
		.mega-menu-item-type-widget{
			h4{
				margin-bottom:10px !important;
			}
			a{
				padding: 6px 0 !important;
				display:inline-block;
			}
		}
		.mega-menu-item-has-children{
			>.mega-menu-link{
				background: theme-color('primary') !important;
				color: #fff !important;
			}
		}
		.mega-menu-link{
			background: #fff !important;
			color: theme-color('primary') !important;
			padding: 1px 15px !important;
		}
	}
}