// ---- CTA
.cta{
	padding: $spacer;
	color: #fff;
	display: inline-block;
}

.cta-primary{
	@extend .cta;
	background-color: theme-color('primary');
}

.cta-secondary{
	@extend .cta;
	background-color: theme-color('secondary')
}

.img-full{
	width:100%;
	display:block;
}

// Pattern
.bg-image{ 
	// @include myoutline(red);
	position: relative;
	background-repeat     : no-repeat;
	background-position   : center center;
	background-size       : cover; 
}