// Site Footer 
.site-footer{


	// Main Content Area
	#site-footer{

		>div{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			flex-direction: row;

			.site-footer-alpha, 
			.site-footer-bravo,
			.site-footer-charlie {
				// padding: gutter();
			}

			.site-footer-alpha{ 
				flex: 0 1 span(12); 
				@include media-breakpoint-up(lg){ flex: 0 1 span(5); }
			}

			.site-footer-bravo{ 
				flex: 0 1 span(12); 
				@include media-breakpoint-up(sm){ flex: 0 1 span(6); }
				@include media-breakpoint-up(lg){ flex: 0 1 span(3); }
			}

			.site-footer-charlie{ 
				flex: 0 1 span(12); 
				@include media-breakpoint-up(sm){ flex: 0 1 span(6); }
				@include media-breakpoint-up(lg){ flex: 0 1 auto; }
			}
		}

	}


	// The tiny site legal footer area.
	#site-legal{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background-color: $site-legal-bg-color;
		color: $site-legal-text-color;
		@include font-size($fs-map: $site-legal-font-size, $fs-breakpoints: $grid-breakpoints);

		a{ color: $site-legal-link-color; }

		.site-info{
			width: susy-span(12);
			text-align: center;
			border-top: 1px solid #fff;
			padding-top: 7px;
		}

		.site-longevity{
			width: susy-span(12);
			text-align: center;


			@include media-breakpoint-up(sm){
				width: susy-span(6);
				text-align: right;
			}
		}
	}

}

.site-footer-alpha{
	ul{
		list-style: none;
		padding:0;
		margin:0;
		li{
			a{
				color: #fff;
			}
		}
	}
	.widget_nav_menu:nth-child(2){
		width: 70%;
		padding-right: 30px;
		float:left;
	}
	.widget_nav_menu:nth-child(3){
		width:30%;
		float: left;
	}

	@include media-breakpoint-down(sm){
		.widget_nav_menu:nth-child(2){
			width: 100%;
			padding-right: 0;
		}
		.widget_nav_menu:nth-child(3){
			width: 100%;
		}
	}
}